#item-container{
	position: relative;
	width: 350px;
    height: 25px;
    background: #FFE4C4;
	border: 1px solid #DEB887;
	border-radius: 5px;
}
.item-container-id{
	margin: 0px 5px 0px 5px;	
	position: absolute;
	top: 3px;
}

.item-container-family{
	margin: 0px 5px 0px 5px;
	position: absolute;
	top: 3px;
	left: 73px;
}

.item-container-name{
	margin: 0px 5px 0px 5px;
	position: absolute;
	top: 3px;
	left: 13px;
}

.btnEdit{
	position: absolute;
    width: 75px;
    height: 25px;
    right: 78px;        
}

.btnDel{
	position: absolute;
    width: 75px;
    height: 25px;
    right: 3px;        
}