<div id = "item-container">
    <span class = "item-container-id">{{ user.id }}.</span>
    <span class = "item-container-family">{{ user.family }}</span>
    <span class = "item-container-name">{{ user.name }}</span>
    <span><button class = "btnEdit" (click)="update()">{{'Изменить' | translate }}</button></span>
    <span><button class = "btnDel" (click)="delete()">{{ 'Удалить' | translate }}</button></span>
	<span><button class = "btnShow" (click)="show()">{{ 'Просмотр' | translate }}</button></span>
</div>