:host {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background: #D2B48C;
}

:host > * {
  margin: 20px;
}

select {
        height:30px;
        line-height:30px;
        background: #FFE4C4;
} 